button {
  height: 20px;
  font-family: Helvetica, Arial, sans-serif;
}
span {
  margin-top: auto;
  margin-bottom: auto;
}
svg {
  width: 16px;
  height: 16px;
  /* Default to white unless otherwise defined (Google Plus as example) */
  fill: #ffffff;
}

.share-button {
  color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
  height: 20px;
  font-size: 11px;
  border-radius: 3px;
}
.share-button:hover {
  opacity: .6;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
}

.fb-share-button {
  background: #4267b2;
  border: 1px solid #4267b2;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.vk-share-button {
  background: rgb(98, 135, 174);
  border: 1px solid rgb(98, 135, 174);
}

.gplus-share-button {
  background: #ffffff;
  border: 1px solid #d0d0d0;
}

.gplus-share-button svg {
  vertical-align: middle;
}

.gplus-share-button span {
  color: black;
}

.linkedin-share-button {
  background: #0077b5;
  border: 1px solid #0077b5;
}

.twitter-share-button {
  background-color: #1b95e0;
  border: 1px solid #1b95e0;
}

.linkedin-div,
.fb-div,
.twitter-div,
.vk-div,
.gplus-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkedin-div span,
.fb-div span,
.twitter-div span,
.vk-div span,
.gplus-div span {
  margin-left: 5px;
}



.share-panel {
  display: flex;
}
@media (max-width: 768px) {
  .adaptive-button span {
    visibility: hidden;
    display: none;
  }
  .adaptive-button {
    padding-left: 1px;
    padding-right: 1px;
  }
}
